.UsersName_image {
    object-fit: cover;
    max-width: 37px;
    border-radius: 50%;
}

li:hover .UsersName_image {
    border: 3px solid var(--color-green)
}

li:hover .UsersName_link {
    color: var(--color-green);
}

ul {
    padding-left: 0.5rem
}

.UsersName_link {
    padding-left: 10px;
    padding-bottom: 22px;
    text-decoration: none;
    color: var(--color-white);
    display: inline-block;
    vertical-align: 40%;

}

span {}
