.About {
    color: var(--color-white);
}

.block-center {
    display: flex;
    justify-content: center;
}

.About_image {
    object-fit: cover;
    height: 91px;
    width: 91px;
    border-radius: 50%;
    margin-bottom: 26px;
    background-color: var(--color-white)
}

.About_main-name {
    color: var(--color-green);
    text-align: center;
    margin-bottom: 30px;
}

.About_details {
    line-height: 2.7rem;
    font-weight: 300;
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
