.SearchInput_form {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.SearchInput_input {
    border: 0;
    border-bottom: 2px solid var(--color-green);
    border-radius: 32.5px;
    font-family: inherit;
    font-size: 1.3rem;
    color: rgb(119, 119, 119);
}

input[type=text] {
    padding: 10px 2rem;
    margin-bottom: 16px;
}
