.Navbar_list {
    display: flex;
    height: 31px;
}

.Navbar_item {
    font-family: var(--font-system);
    width: 50%;
}

.Navbar_link_right {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: var(--color-green);
}

.Navbar_link_left {
    display: flex;
    justify-content: flex-start;
    color: var(--color-green);
    margin-top: 10px;
}

.Navbar_h1 {
    font-size: 2rem;
}
