.Navbar {}

.Navbar_list {
    display: flex;
    height: 31px;
}

.Navbar_item {
    font-family: var(--font-system);
    width: 50%;
}

.Navbar_link_right {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: var(--color-green);
}

.Navbar_link_left {
    display: flex;
    justify-content: flex-start;
    color: var(--color-green);
}
