@import "./../index.css";

.navbar {
    height: var(--nav-size);
    background-color: var(--color-light-blue);
    padding: 0 1rem;
    border-bottom: var(--border);
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-item {
    width: calc(var(--nav-size) * 0.8)
}

.icon-button {
    --buton-size: calc(var(--button-size)* 0.5);
    width: var(--buton-size);
    height: var(--buton-size);
    background-color: var(--color-light-blue);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
}